/**
 * -------------------------------------------------------------------------------
 * 
 * Description: See the tokens folder for values
 * ===============================================================================
 */
/**
 * -------------------------------------------------------------------------------
 * 
 * Description: See the tokens folder for values
 * ===============================================================================
 */
/**
 * -------------------------------------------------------------------------------
 * 
 * Description: See the tokens folder for values
 * ===============================================================================
 */
/**
 * -------------------------------------------------------------------------------
 * 
 * Description: See the tokens folder for values
 * ===============================================================================
 */
/**
 * -------------------------------------------------------------------------------
 * 
 * Description: See the tokens folder for values
 * ===============================================================================
 */
/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Correct the line height in all browsers.
     * 2. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0; }

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block; }

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px; }

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
     * Add the correct display in IE.
     */
main {
  display: block; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit; }

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic; }

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000; }

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%; }

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block; }

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none; }

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden; }

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible; }

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none; }

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */ }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible; }

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
     * Correct the padding in Firefox.
     */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto; }

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block; }

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item; }

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block; }

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block; }

/**
     * Add the correct display in IE.
     */
template {
  display: none; }

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%; }
  html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.buf-icon {
  display: block; }

.buf-icon--inline {
  display: inline-block; }

.buf-icon--tiny {
  width: rem-calc(12px);
  height: rem-calc(12px); }

.buf-icon--mini {
  width: rem-calc(16px);
  height: rem-calc(16px); }

.buf-icon--small {
  width: rem-calc(18px);
  height: rem-calc(18px); }

.buf-icon--base {
  width: rem-calc(24px);
  height: rem-calc(24px); }

.buf-icon--medium {
  width: rem-calc(30px);
  height: rem-calc(30px); }

.buf-icon--large {
  width: rem-calc(36px);
  height: rem-calc(36px); }

.buf-icon--xlarge {
  width: rem-calc(42px);
  height: rem-calc(42px); }

.buf-icon--xxlarge {
  width: rem-calc(54px);
  height: rem-calc(54px); }

.ch-icon--light {
  fill: white; }

.ch-icon--dark {
  fill: black; }

@media screen and (min-width: 20em) {
  .mx\:auto\@xs {
    margin-right: auto ;
    margin-left: auto ; }
  .ml\:auto\@xs {
    margin-left: auto ; }
  .mr\:auto\@xs {
    margin-right: auto ; }
  .m\:0\@xs {
    margin-top: 0 ;
    margin-bottom: 0 ;
    margin-right: 0 ;
    margin-left: 0 ; }
  .mx\:0\@xs {
    margin-right: 0 ;
    margin-left: 0 ; }
  .my\:0\@xs {
    margin-top: 0 ;
    margin-bottom: 0 ; }
  .ml\:0\@xs {
    margin-left: 0 ; }
  .mt\:0\@xs {
    margin-top: 0 ; }
  .mr\:0\@xs {
    margin-right: 0 ; }
  .mb\:0\@xs {
    margin-bottom: 0 ; }
  .p\:0\@xs {
    padding-top: 0 ;
    padding-bottom: 0 ;
    padding-right: 0 ;
    padding-left: 0 ; }
  .px\:0\@xs {
    padding-right: 0 ;
    padding-left: 0 ; }
  .py\:0\@xs {
    padding-top: 0 ;
    padding-bottom: 0 ; }
  .pl\:0\@xs {
    padding-left: 0 ; }
  .pt\:0\@xs {
    padding-top: 0 ; }
  .pr\:0\@xs {
    padding-right: 0 ; }
  .pb\:0\@xs {
    padding-bottom: 0 ; }
  .m\:1\@xs {
    margin-top: 0.25em ;
    margin-bottom: 0.25em ;
    margin-right: 0.25em ;
    margin-left: 0.25em ; }
  .mx\:1\@xs {
    margin-right: 0.25em ;
    margin-left: 0.25em ; }
  .my\:1\@xs {
    margin-top: 0.25em ;
    margin-bottom: 0.25em ; }
  .ml\:1\@xs {
    margin-left: 0.25em ; }
  .mt\:1\@xs {
    margin-top: 0.25em ; }
  .mr\:1\@xs {
    margin-right: 0.25em ; }
  .mb\:1\@xs {
    margin-bottom: 0.25em ; }
  .p\:1\@xs {
    padding-top: 0.25em ;
    padding-bottom: 0.25em ;
    padding-right: 0.25em ;
    padding-left: 0.25em ; }
  .px\:1\@xs {
    padding-right: 0.25em ;
    padding-left: 0.25em ; }
  .py\:1\@xs {
    padding-top: 0.25em ;
    padding-bottom: 0.25em ; }
  .pl\:1\@xs {
    padding-left: 0.25em ; }
  .pt\:1\@xs {
    padding-top: 0.25em ; }
  .pr\:1\@xs {
    padding-right: 0.25em ; }
  .pb\:1\@xs {
    padding-bottom: 0.25em ; }
  .m\:2\@xs {
    margin-top: 0.5em ;
    margin-bottom: 0.5em ;
    margin-right: 0.5em ;
    margin-left: 0.5em ; }
  .mx\:2\@xs {
    margin-right: 0.5em ;
    margin-left: 0.5em ; }
  .my\:2\@xs {
    margin-top: 0.5em ;
    margin-bottom: 0.5em ; }
  .ml\:2\@xs {
    margin-left: 0.5em ; }
  .mt\:2\@xs {
    margin-top: 0.5em ; }
  .mr\:2\@xs {
    margin-right: 0.5em ; }
  .mb\:2\@xs {
    margin-bottom: 0.5em ; }
  .p\:2\@xs {
    padding-top: 0.5em ;
    padding-bottom: 0.5em ;
    padding-right: 0.5em ;
    padding-left: 0.5em ; }
  .px\:2\@xs {
    padding-right: 0.5em ;
    padding-left: 0.5em ; }
  .py\:2\@xs {
    padding-top: 0.5em ;
    padding-bottom: 0.5em ; }
  .pl\:2\@xs {
    padding-left: 0.5em ; }
  .pt\:2\@xs {
    padding-top: 0.5em ; }
  .pr\:2\@xs {
    padding-right: 0.5em ; }
  .pb\:2\@xs {
    padding-bottom: 0.5em ; }
  .m\:3\@xs {
    margin-top: 0.75em ;
    margin-bottom: 0.75em ;
    margin-right: 0.75em ;
    margin-left: 0.75em ; }
  .mx\:3\@xs {
    margin-right: 0.75em ;
    margin-left: 0.75em ; }
  .my\:3\@xs {
    margin-top: 0.75em ;
    margin-bottom: 0.75em ; }
  .ml\:3\@xs {
    margin-left: 0.75em ; }
  .mt\:3\@xs {
    margin-top: 0.75em ; }
  .mr\:3\@xs {
    margin-right: 0.75em ; }
  .mb\:3\@xs {
    margin-bottom: 0.75em ; }
  .p\:3\@xs {
    padding-top: 0.75em ;
    padding-bottom: 0.75em ;
    padding-right: 0.75em ;
    padding-left: 0.75em ; }
  .px\:3\@xs {
    padding-right: 0.75em ;
    padding-left: 0.75em ; }
  .py\:3\@xs {
    padding-top: 0.75em ;
    padding-bottom: 0.75em ; }
  .pl\:3\@xs {
    padding-left: 0.75em ; }
  .pt\:3\@xs {
    padding-top: 0.75em ; }
  .pr\:3\@xs {
    padding-right: 0.75em ; }
  .pb\:3\@xs {
    padding-bottom: 0.75em ; }
  .m\:4\@xs {
    margin-top: 1em ;
    margin-bottom: 1em ;
    margin-right: 1em ;
    margin-left: 1em ; }
  .mx\:4\@xs {
    margin-right: 1em ;
    margin-left: 1em ; }
  .my\:4\@xs {
    margin-top: 1em ;
    margin-bottom: 1em ; }
  .ml\:4\@xs {
    margin-left: 1em ; }
  .mt\:4\@xs {
    margin-top: 1em ; }
  .mr\:4\@xs {
    margin-right: 1em ; }
  .mb\:4\@xs {
    margin-bottom: 1em ; }
  .p\:4\@xs {
    padding-top: 1em ;
    padding-bottom: 1em ;
    padding-right: 1em ;
    padding-left: 1em ; }
  .px\:4\@xs {
    padding-right: 1em ;
    padding-left: 1em ; }
  .py\:4\@xs {
    padding-top: 1em ;
    padding-bottom: 1em ; }
  .pl\:4\@xs {
    padding-left: 1em ; }
  .pt\:4\@xs {
    padding-top: 1em ; }
  .pr\:4\@xs {
    padding-right: 1em ; }
  .pb\:4\@xs {
    padding-bottom: 1em ; }
  .m\:5\@xs {
    margin-top: 1.25em ;
    margin-bottom: 1.25em ;
    margin-right: 1.25em ;
    margin-left: 1.25em ; }
  .mx\:5\@xs {
    margin-right: 1.25em ;
    margin-left: 1.25em ; }
  .my\:5\@xs {
    margin-top: 1.25em ;
    margin-bottom: 1.25em ; }
  .ml\:5\@xs {
    margin-left: 1.25em ; }
  .mt\:5\@xs {
    margin-top: 1.25em ; }
  .mr\:5\@xs {
    margin-right: 1.25em ; }
  .mb\:5\@xs {
    margin-bottom: 1.25em ; }
  .p\:5\@xs {
    padding-top: 1.25em ;
    padding-bottom: 1.25em ;
    padding-right: 1.25em ;
    padding-left: 1.25em ; }
  .px\:5\@xs {
    padding-right: 1.25em ;
    padding-left: 1.25em ; }
  .py\:5\@xs {
    padding-top: 1.25em ;
    padding-bottom: 1.25em ; }
  .pl\:5\@xs {
    padding-left: 1.25em ; }
  .pt\:5\@xs {
    padding-top: 1.25em ; }
  .pr\:5\@xs {
    padding-right: 1.25em ; }
  .pb\:5\@xs {
    padding-bottom: 1.25em ; }
  .m\:6\@xs {
    margin-top: 1.5em ;
    margin-bottom: 1.5em ;
    margin-right: 1.5em ;
    margin-left: 1.5em ; }
  .mx\:6\@xs {
    margin-right: 1.5em ;
    margin-left: 1.5em ; }
  .my\:6\@xs {
    margin-top: 1.5em ;
    margin-bottom: 1.5em ; }
  .ml\:6\@xs {
    margin-left: 1.5em ; }
  .mt\:6\@xs {
    margin-top: 1.5em ; }
  .mr\:6\@xs {
    margin-right: 1.5em ; }
  .mb\:6\@xs {
    margin-bottom: 1.5em ; }
  .p\:6\@xs {
    padding-top: 1.5em ;
    padding-bottom: 1.5em ;
    padding-right: 1.5em ;
    padding-left: 1.5em ; }
  .px\:6\@xs {
    padding-right: 1.5em ;
    padding-left: 1.5em ; }
  .py\:6\@xs {
    padding-top: 1.5em ;
    padding-bottom: 1.5em ; }
  .pl\:6\@xs {
    padding-left: 1.5em ; }
  .pt\:6\@xs {
    padding-top: 1.5em ; }
  .pr\:6\@xs {
    padding-right: 1.5em ; }
  .pb\:6\@xs {
    padding-bottom: 1.5em ; }
  .m\:7\@xs {
    margin-top: 1.75em ;
    margin-bottom: 1.75em ;
    margin-right: 1.75em ;
    margin-left: 1.75em ; }
  .mx\:7\@xs {
    margin-right: 1.75em ;
    margin-left: 1.75em ; }
  .my\:7\@xs {
    margin-top: 1.75em ;
    margin-bottom: 1.75em ; }
  .ml\:7\@xs {
    margin-left: 1.75em ; }
  .mt\:7\@xs {
    margin-top: 1.75em ; }
  .mr\:7\@xs {
    margin-right: 1.75em ; }
  .mb\:7\@xs {
    margin-bottom: 1.75em ; }
  .p\:7\@xs {
    padding-top: 1.75em ;
    padding-bottom: 1.75em ;
    padding-right: 1.75em ;
    padding-left: 1.75em ; }
  .px\:7\@xs {
    padding-right: 1.75em ;
    padding-left: 1.75em ; }
  .py\:7\@xs {
    padding-top: 1.75em ;
    padding-bottom: 1.75em ; }
  .pl\:7\@xs {
    padding-left: 1.75em ; }
  .pt\:7\@xs {
    padding-top: 1.75em ; }
  .pr\:7\@xs {
    padding-right: 1.75em ; }
  .pb\:7\@xs {
    padding-bottom: 1.75em ; }
  .m\:8\@xs {
    margin-top: 2em ;
    margin-bottom: 2em ;
    margin-right: 2em ;
    margin-left: 2em ; }
  .mx\:8\@xs {
    margin-right: 2em ;
    margin-left: 2em ; }
  .my\:8\@xs {
    margin-top: 2em ;
    margin-bottom: 2em ; }
  .ml\:8\@xs {
    margin-left: 2em ; }
  .mt\:8\@xs {
    margin-top: 2em ; }
  .mr\:8\@xs {
    margin-right: 2em ; }
  .mb\:8\@xs {
    margin-bottom: 2em ; }
  .p\:8\@xs {
    padding-top: 2em ;
    padding-bottom: 2em ;
    padding-right: 2em ;
    padding-left: 2em ; }
  .px\:8\@xs {
    padding-right: 2em ;
    padding-left: 2em ; }
  .py\:8\@xs {
    padding-top: 2em ;
    padding-bottom: 2em ; }
  .pl\:8\@xs {
    padding-left: 2em ; }
  .pt\:8\@xs {
    padding-top: 2em ; }
  .pr\:8\@xs {
    padding-right: 2em ; }
  .pb\:8\@xs {
    padding-bottom: 2em ; } }

@media screen and (min-width: 36em) {
  .mx\:auto\@sm {
    margin-right: auto ;
    margin-left: auto ; }
  .ml\:auto\@sm {
    margin-left: auto ; }
  .mr\:auto\@sm {
    margin-right: auto ; }
  .m\:0\@sm {
    margin-top: 0 ;
    margin-bottom: 0 ;
    margin-right: 0 ;
    margin-left: 0 ; }
  .mx\:0\@sm {
    margin-right: 0 ;
    margin-left: 0 ; }
  .my\:0\@sm {
    margin-top: 0 ;
    margin-bottom: 0 ; }
  .ml\:0\@sm {
    margin-left: 0 ; }
  .mt\:0\@sm {
    margin-top: 0 ; }
  .mr\:0\@sm {
    margin-right: 0 ; }
  .mb\:0\@sm {
    margin-bottom: 0 ; }
  .p\:0\@sm {
    padding-top: 0 ;
    padding-bottom: 0 ;
    padding-right: 0 ;
    padding-left: 0 ; }
  .px\:0\@sm {
    padding-right: 0 ;
    padding-left: 0 ; }
  .py\:0\@sm {
    padding-top: 0 ;
    padding-bottom: 0 ; }
  .pl\:0\@sm {
    padding-left: 0 ; }
  .pt\:0\@sm {
    padding-top: 0 ; }
  .pr\:0\@sm {
    padding-right: 0 ; }
  .pb\:0\@sm {
    padding-bottom: 0 ; }
  .m\:1\@sm {
    margin-top: 0.25em ;
    margin-bottom: 0.25em ;
    margin-right: 0.25em ;
    margin-left: 0.25em ; }
  .mx\:1\@sm {
    margin-right: 0.25em ;
    margin-left: 0.25em ; }
  .my\:1\@sm {
    margin-top: 0.25em ;
    margin-bottom: 0.25em ; }
  .ml\:1\@sm {
    margin-left: 0.25em ; }
  .mt\:1\@sm {
    margin-top: 0.25em ; }
  .mr\:1\@sm {
    margin-right: 0.25em ; }
  .mb\:1\@sm {
    margin-bottom: 0.25em ; }
  .p\:1\@sm {
    padding-top: 0.25em ;
    padding-bottom: 0.25em ;
    padding-right: 0.25em ;
    padding-left: 0.25em ; }
  .px\:1\@sm {
    padding-right: 0.25em ;
    padding-left: 0.25em ; }
  .py\:1\@sm {
    padding-top: 0.25em ;
    padding-bottom: 0.25em ; }
  .pl\:1\@sm {
    padding-left: 0.25em ; }
  .pt\:1\@sm {
    padding-top: 0.25em ; }
  .pr\:1\@sm {
    padding-right: 0.25em ; }
  .pb\:1\@sm {
    padding-bottom: 0.25em ; }
  .m\:2\@sm {
    margin-top: 0.5em ;
    margin-bottom: 0.5em ;
    margin-right: 0.5em ;
    margin-left: 0.5em ; }
  .mx\:2\@sm {
    margin-right: 0.5em ;
    margin-left: 0.5em ; }
  .my\:2\@sm {
    margin-top: 0.5em ;
    margin-bottom: 0.5em ; }
  .ml\:2\@sm {
    margin-left: 0.5em ; }
  .mt\:2\@sm {
    margin-top: 0.5em ; }
  .mr\:2\@sm {
    margin-right: 0.5em ; }
  .mb\:2\@sm {
    margin-bottom: 0.5em ; }
  .p\:2\@sm {
    padding-top: 0.5em ;
    padding-bottom: 0.5em ;
    padding-right: 0.5em ;
    padding-left: 0.5em ; }
  .px\:2\@sm {
    padding-right: 0.5em ;
    padding-left: 0.5em ; }
  .py\:2\@sm {
    padding-top: 0.5em ;
    padding-bottom: 0.5em ; }
  .pl\:2\@sm {
    padding-left: 0.5em ; }
  .pt\:2\@sm {
    padding-top: 0.5em ; }
  .pr\:2\@sm {
    padding-right: 0.5em ; }
  .pb\:2\@sm {
    padding-bottom: 0.5em ; }
  .m\:3\@sm {
    margin-top: 0.75em ;
    margin-bottom: 0.75em ;
    margin-right: 0.75em ;
    margin-left: 0.75em ; }
  .mx\:3\@sm {
    margin-right: 0.75em ;
    margin-left: 0.75em ; }
  .my\:3\@sm {
    margin-top: 0.75em ;
    margin-bottom: 0.75em ; }
  .ml\:3\@sm {
    margin-left: 0.75em ; }
  .mt\:3\@sm {
    margin-top: 0.75em ; }
  .mr\:3\@sm {
    margin-right: 0.75em ; }
  .mb\:3\@sm {
    margin-bottom: 0.75em ; }
  .p\:3\@sm {
    padding-top: 0.75em ;
    padding-bottom: 0.75em ;
    padding-right: 0.75em ;
    padding-left: 0.75em ; }
  .px\:3\@sm {
    padding-right: 0.75em ;
    padding-left: 0.75em ; }
  .py\:3\@sm {
    padding-top: 0.75em ;
    padding-bottom: 0.75em ; }
  .pl\:3\@sm {
    padding-left: 0.75em ; }
  .pt\:3\@sm {
    padding-top: 0.75em ; }
  .pr\:3\@sm {
    padding-right: 0.75em ; }
  .pb\:3\@sm {
    padding-bottom: 0.75em ; }
  .m\:4\@sm {
    margin-top: 1em ;
    margin-bottom: 1em ;
    margin-right: 1em ;
    margin-left: 1em ; }
  .mx\:4\@sm {
    margin-right: 1em ;
    margin-left: 1em ; }
  .my\:4\@sm {
    margin-top: 1em ;
    margin-bottom: 1em ; }
  .ml\:4\@sm {
    margin-left: 1em ; }
  .mt\:4\@sm {
    margin-top: 1em ; }
  .mr\:4\@sm {
    margin-right: 1em ; }
  .mb\:4\@sm {
    margin-bottom: 1em ; }
  .p\:4\@sm {
    padding-top: 1em ;
    padding-bottom: 1em ;
    padding-right: 1em ;
    padding-left: 1em ; }
  .px\:4\@sm {
    padding-right: 1em ;
    padding-left: 1em ; }
  .py\:4\@sm {
    padding-top: 1em ;
    padding-bottom: 1em ; }
  .pl\:4\@sm {
    padding-left: 1em ; }
  .pt\:4\@sm {
    padding-top: 1em ; }
  .pr\:4\@sm {
    padding-right: 1em ; }
  .pb\:4\@sm {
    padding-bottom: 1em ; }
  .m\:5\@sm {
    margin-top: 1.25em ;
    margin-bottom: 1.25em ;
    margin-right: 1.25em ;
    margin-left: 1.25em ; }
  .mx\:5\@sm {
    margin-right: 1.25em ;
    margin-left: 1.25em ; }
  .my\:5\@sm {
    margin-top: 1.25em ;
    margin-bottom: 1.25em ; }
  .ml\:5\@sm {
    margin-left: 1.25em ; }
  .mt\:5\@sm {
    margin-top: 1.25em ; }
  .mr\:5\@sm {
    margin-right: 1.25em ; }
  .mb\:5\@sm {
    margin-bottom: 1.25em ; }
  .p\:5\@sm {
    padding-top: 1.25em ;
    padding-bottom: 1.25em ;
    padding-right: 1.25em ;
    padding-left: 1.25em ; }
  .px\:5\@sm {
    padding-right: 1.25em ;
    padding-left: 1.25em ; }
  .py\:5\@sm {
    padding-top: 1.25em ;
    padding-bottom: 1.25em ; }
  .pl\:5\@sm {
    padding-left: 1.25em ; }
  .pt\:5\@sm {
    padding-top: 1.25em ; }
  .pr\:5\@sm {
    padding-right: 1.25em ; }
  .pb\:5\@sm {
    padding-bottom: 1.25em ; }
  .m\:6\@sm {
    margin-top: 1.5em ;
    margin-bottom: 1.5em ;
    margin-right: 1.5em ;
    margin-left: 1.5em ; }
  .mx\:6\@sm {
    margin-right: 1.5em ;
    margin-left: 1.5em ; }
  .my\:6\@sm {
    margin-top: 1.5em ;
    margin-bottom: 1.5em ; }
  .ml\:6\@sm {
    margin-left: 1.5em ; }
  .mt\:6\@sm {
    margin-top: 1.5em ; }
  .mr\:6\@sm {
    margin-right: 1.5em ; }
  .mb\:6\@sm {
    margin-bottom: 1.5em ; }
  .p\:6\@sm {
    padding-top: 1.5em ;
    padding-bottom: 1.5em ;
    padding-right: 1.5em ;
    padding-left: 1.5em ; }
  .px\:6\@sm {
    padding-right: 1.5em ;
    padding-left: 1.5em ; }
  .py\:6\@sm {
    padding-top: 1.5em ;
    padding-bottom: 1.5em ; }
  .pl\:6\@sm {
    padding-left: 1.5em ; }
  .pt\:6\@sm {
    padding-top: 1.5em ; }
  .pr\:6\@sm {
    padding-right: 1.5em ; }
  .pb\:6\@sm {
    padding-bottom: 1.5em ; }
  .m\:7\@sm {
    margin-top: 1.75em ;
    margin-bottom: 1.75em ;
    margin-right: 1.75em ;
    margin-left: 1.75em ; }
  .mx\:7\@sm {
    margin-right: 1.75em ;
    margin-left: 1.75em ; }
  .my\:7\@sm {
    margin-top: 1.75em ;
    margin-bottom: 1.75em ; }
  .ml\:7\@sm {
    margin-left: 1.75em ; }
  .mt\:7\@sm {
    margin-top: 1.75em ; }
  .mr\:7\@sm {
    margin-right: 1.75em ; }
  .mb\:7\@sm {
    margin-bottom: 1.75em ; }
  .p\:7\@sm {
    padding-top: 1.75em ;
    padding-bottom: 1.75em ;
    padding-right: 1.75em ;
    padding-left: 1.75em ; }
  .px\:7\@sm {
    padding-right: 1.75em ;
    padding-left: 1.75em ; }
  .py\:7\@sm {
    padding-top: 1.75em ;
    padding-bottom: 1.75em ; }
  .pl\:7\@sm {
    padding-left: 1.75em ; }
  .pt\:7\@sm {
    padding-top: 1.75em ; }
  .pr\:7\@sm {
    padding-right: 1.75em ; }
  .pb\:7\@sm {
    padding-bottom: 1.75em ; }
  .m\:8\@sm {
    margin-top: 2em ;
    margin-bottom: 2em ;
    margin-right: 2em ;
    margin-left: 2em ; }
  .mx\:8\@sm {
    margin-right: 2em ;
    margin-left: 2em ; }
  .my\:8\@sm {
    margin-top: 2em ;
    margin-bottom: 2em ; }
  .ml\:8\@sm {
    margin-left: 2em ; }
  .mt\:8\@sm {
    margin-top: 2em ; }
  .mr\:8\@sm {
    margin-right: 2em ; }
  .mb\:8\@sm {
    margin-bottom: 2em ; }
  .p\:8\@sm {
    padding-top: 2em ;
    padding-bottom: 2em ;
    padding-right: 2em ;
    padding-left: 2em ; }
  .px\:8\@sm {
    padding-right: 2em ;
    padding-left: 2em ; }
  .py\:8\@sm {
    padding-top: 2em ;
    padding-bottom: 2em ; }
  .pl\:8\@sm {
    padding-left: 2em ; }
  .pt\:8\@sm {
    padding-top: 2em ; }
  .pr\:8\@sm {
    padding-right: 2em ; }
  .pb\:8\@sm {
    padding-bottom: 2em ; } }

@media screen and (min-width: 48em) {
  .mx\:auto\@md {
    margin-right: auto ;
    margin-left: auto ; }
  .ml\:auto\@md {
    margin-left: auto ; }
  .mr\:auto\@md {
    margin-right: auto ; }
  .m\:0\@md {
    margin-top: 0 ;
    margin-bottom: 0 ;
    margin-right: 0 ;
    margin-left: 0 ; }
  .mx\:0\@md {
    margin-right: 0 ;
    margin-left: 0 ; }
  .my\:0\@md {
    margin-top: 0 ;
    margin-bottom: 0 ; }
  .ml\:0\@md {
    margin-left: 0 ; }
  .mt\:0\@md {
    margin-top: 0 ; }
  .mr\:0\@md {
    margin-right: 0 ; }
  .mb\:0\@md {
    margin-bottom: 0 ; }
  .p\:0\@md {
    padding-top: 0 ;
    padding-bottom: 0 ;
    padding-right: 0 ;
    padding-left: 0 ; }
  .px\:0\@md {
    padding-right: 0 ;
    padding-left: 0 ; }
  .py\:0\@md {
    padding-top: 0 ;
    padding-bottom: 0 ; }
  .pl\:0\@md {
    padding-left: 0 ; }
  .pt\:0\@md {
    padding-top: 0 ; }
  .pr\:0\@md {
    padding-right: 0 ; }
  .pb\:0\@md {
    padding-bottom: 0 ; }
  .m\:1\@md {
    margin-top: 0.25em ;
    margin-bottom: 0.25em ;
    margin-right: 0.25em ;
    margin-left: 0.25em ; }
  .mx\:1\@md {
    margin-right: 0.25em ;
    margin-left: 0.25em ; }
  .my\:1\@md {
    margin-top: 0.25em ;
    margin-bottom: 0.25em ; }
  .ml\:1\@md {
    margin-left: 0.25em ; }
  .mt\:1\@md {
    margin-top: 0.25em ; }
  .mr\:1\@md {
    margin-right: 0.25em ; }
  .mb\:1\@md {
    margin-bottom: 0.25em ; }
  .p\:1\@md {
    padding-top: 0.25em ;
    padding-bottom: 0.25em ;
    padding-right: 0.25em ;
    padding-left: 0.25em ; }
  .px\:1\@md {
    padding-right: 0.25em ;
    padding-left: 0.25em ; }
  .py\:1\@md {
    padding-top: 0.25em ;
    padding-bottom: 0.25em ; }
  .pl\:1\@md {
    padding-left: 0.25em ; }
  .pt\:1\@md {
    padding-top: 0.25em ; }
  .pr\:1\@md {
    padding-right: 0.25em ; }
  .pb\:1\@md {
    padding-bottom: 0.25em ; }
  .m\:2\@md {
    margin-top: 0.5em ;
    margin-bottom: 0.5em ;
    margin-right: 0.5em ;
    margin-left: 0.5em ; }
  .mx\:2\@md {
    margin-right: 0.5em ;
    margin-left: 0.5em ; }
  .my\:2\@md {
    margin-top: 0.5em ;
    margin-bottom: 0.5em ; }
  .ml\:2\@md {
    margin-left: 0.5em ; }
  .mt\:2\@md {
    margin-top: 0.5em ; }
  .mr\:2\@md {
    margin-right: 0.5em ; }
  .mb\:2\@md {
    margin-bottom: 0.5em ; }
  .p\:2\@md {
    padding-top: 0.5em ;
    padding-bottom: 0.5em ;
    padding-right: 0.5em ;
    padding-left: 0.5em ; }
  .px\:2\@md {
    padding-right: 0.5em ;
    padding-left: 0.5em ; }
  .py\:2\@md {
    padding-top: 0.5em ;
    padding-bottom: 0.5em ; }
  .pl\:2\@md {
    padding-left: 0.5em ; }
  .pt\:2\@md {
    padding-top: 0.5em ; }
  .pr\:2\@md {
    padding-right: 0.5em ; }
  .pb\:2\@md {
    padding-bottom: 0.5em ; }
  .m\:3\@md {
    margin-top: 0.75em ;
    margin-bottom: 0.75em ;
    margin-right: 0.75em ;
    margin-left: 0.75em ; }
  .mx\:3\@md {
    margin-right: 0.75em ;
    margin-left: 0.75em ; }
  .my\:3\@md {
    margin-top: 0.75em ;
    margin-bottom: 0.75em ; }
  .ml\:3\@md {
    margin-left: 0.75em ; }
  .mt\:3\@md {
    margin-top: 0.75em ; }
  .mr\:3\@md {
    margin-right: 0.75em ; }
  .mb\:3\@md {
    margin-bottom: 0.75em ; }
  .p\:3\@md {
    padding-top: 0.75em ;
    padding-bottom: 0.75em ;
    padding-right: 0.75em ;
    padding-left: 0.75em ; }
  .px\:3\@md {
    padding-right: 0.75em ;
    padding-left: 0.75em ; }
  .py\:3\@md {
    padding-top: 0.75em ;
    padding-bottom: 0.75em ; }
  .pl\:3\@md {
    padding-left: 0.75em ; }
  .pt\:3\@md {
    padding-top: 0.75em ; }
  .pr\:3\@md {
    padding-right: 0.75em ; }
  .pb\:3\@md {
    padding-bottom: 0.75em ; }
  .m\:4\@md {
    margin-top: 1em ;
    margin-bottom: 1em ;
    margin-right: 1em ;
    margin-left: 1em ; }
  .mx\:4\@md {
    margin-right: 1em ;
    margin-left: 1em ; }
  .my\:4\@md {
    margin-top: 1em ;
    margin-bottom: 1em ; }
  .ml\:4\@md {
    margin-left: 1em ; }
  .mt\:4\@md {
    margin-top: 1em ; }
  .mr\:4\@md {
    margin-right: 1em ; }
  .mb\:4\@md {
    margin-bottom: 1em ; }
  .p\:4\@md {
    padding-top: 1em ;
    padding-bottom: 1em ;
    padding-right: 1em ;
    padding-left: 1em ; }
  .px\:4\@md {
    padding-right: 1em ;
    padding-left: 1em ; }
  .py\:4\@md {
    padding-top: 1em ;
    padding-bottom: 1em ; }
  .pl\:4\@md {
    padding-left: 1em ; }
  .pt\:4\@md {
    padding-top: 1em ; }
  .pr\:4\@md {
    padding-right: 1em ; }
  .pb\:4\@md {
    padding-bottom: 1em ; }
  .m\:5\@md {
    margin-top: 1.25em ;
    margin-bottom: 1.25em ;
    margin-right: 1.25em ;
    margin-left: 1.25em ; }
  .mx\:5\@md {
    margin-right: 1.25em ;
    margin-left: 1.25em ; }
  .my\:5\@md {
    margin-top: 1.25em ;
    margin-bottom: 1.25em ; }
  .ml\:5\@md {
    margin-left: 1.25em ; }
  .mt\:5\@md {
    margin-top: 1.25em ; }
  .mr\:5\@md {
    margin-right: 1.25em ; }
  .mb\:5\@md {
    margin-bottom: 1.25em ; }
  .p\:5\@md {
    padding-top: 1.25em ;
    padding-bottom: 1.25em ;
    padding-right: 1.25em ;
    padding-left: 1.25em ; }
  .px\:5\@md {
    padding-right: 1.25em ;
    padding-left: 1.25em ; }
  .py\:5\@md {
    padding-top: 1.25em ;
    padding-bottom: 1.25em ; }
  .pl\:5\@md {
    padding-left: 1.25em ; }
  .pt\:5\@md {
    padding-top: 1.25em ; }
  .pr\:5\@md {
    padding-right: 1.25em ; }
  .pb\:5\@md {
    padding-bottom: 1.25em ; }
  .m\:6\@md {
    margin-top: 1.5em ;
    margin-bottom: 1.5em ;
    margin-right: 1.5em ;
    margin-left: 1.5em ; }
  .mx\:6\@md {
    margin-right: 1.5em ;
    margin-left: 1.5em ; }
  .my\:6\@md {
    margin-top: 1.5em ;
    margin-bottom: 1.5em ; }
  .ml\:6\@md {
    margin-left: 1.5em ; }
  .mt\:6\@md {
    margin-top: 1.5em ; }
  .mr\:6\@md {
    margin-right: 1.5em ; }
  .mb\:6\@md {
    margin-bottom: 1.5em ; }
  .p\:6\@md {
    padding-top: 1.5em ;
    padding-bottom: 1.5em ;
    padding-right: 1.5em ;
    padding-left: 1.5em ; }
  .px\:6\@md {
    padding-right: 1.5em ;
    padding-left: 1.5em ; }
  .py\:6\@md {
    padding-top: 1.5em ;
    padding-bottom: 1.5em ; }
  .pl\:6\@md {
    padding-left: 1.5em ; }
  .pt\:6\@md {
    padding-top: 1.5em ; }
  .pr\:6\@md {
    padding-right: 1.5em ; }
  .pb\:6\@md {
    padding-bottom: 1.5em ; }
  .m\:7\@md {
    margin-top: 1.75em ;
    margin-bottom: 1.75em ;
    margin-right: 1.75em ;
    margin-left: 1.75em ; }
  .mx\:7\@md {
    margin-right: 1.75em ;
    margin-left: 1.75em ; }
  .my\:7\@md {
    margin-top: 1.75em ;
    margin-bottom: 1.75em ; }
  .ml\:7\@md {
    margin-left: 1.75em ; }
  .mt\:7\@md {
    margin-top: 1.75em ; }
  .mr\:7\@md {
    margin-right: 1.75em ; }
  .mb\:7\@md {
    margin-bottom: 1.75em ; }
  .p\:7\@md {
    padding-top: 1.75em ;
    padding-bottom: 1.75em ;
    padding-right: 1.75em ;
    padding-left: 1.75em ; }
  .px\:7\@md {
    padding-right: 1.75em ;
    padding-left: 1.75em ; }
  .py\:7\@md {
    padding-top: 1.75em ;
    padding-bottom: 1.75em ; }
  .pl\:7\@md {
    padding-left: 1.75em ; }
  .pt\:7\@md {
    padding-top: 1.75em ; }
  .pr\:7\@md {
    padding-right: 1.75em ; }
  .pb\:7\@md {
    padding-bottom: 1.75em ; }
  .m\:8\@md {
    margin-top: 2em ;
    margin-bottom: 2em ;
    margin-right: 2em ;
    margin-left: 2em ; }
  .mx\:8\@md {
    margin-right: 2em ;
    margin-left: 2em ; }
  .my\:8\@md {
    margin-top: 2em ;
    margin-bottom: 2em ; }
  .ml\:8\@md {
    margin-left: 2em ; }
  .mt\:8\@md {
    margin-top: 2em ; }
  .mr\:8\@md {
    margin-right: 2em ; }
  .mb\:8\@md {
    margin-bottom: 2em ; }
  .p\:8\@md {
    padding-top: 2em ;
    padding-bottom: 2em ;
    padding-right: 2em ;
    padding-left: 2em ; }
  .px\:8\@md {
    padding-right: 2em ;
    padding-left: 2em ; }
  .py\:8\@md {
    padding-top: 2em ;
    padding-bottom: 2em ; }
  .pl\:8\@md {
    padding-left: 2em ; }
  .pt\:8\@md {
    padding-top: 2em ; }
  .pr\:8\@md {
    padding-right: 2em ; }
  .pb\:8\@md {
    padding-bottom: 2em ; } }

@media screen and (min-width: 62em) {
  .mx\:auto\@lg {
    margin-right: auto ;
    margin-left: auto ; }
  .ml\:auto\@lg {
    margin-left: auto ; }
  .mr\:auto\@lg {
    margin-right: auto ; }
  .m\:0\@lg {
    margin-top: 0 ;
    margin-bottom: 0 ;
    margin-right: 0 ;
    margin-left: 0 ; }
  .mx\:0\@lg {
    margin-right: 0 ;
    margin-left: 0 ; }
  .my\:0\@lg {
    margin-top: 0 ;
    margin-bottom: 0 ; }
  .ml\:0\@lg {
    margin-left: 0 ; }
  .mt\:0\@lg {
    margin-top: 0 ; }
  .mr\:0\@lg {
    margin-right: 0 ; }
  .mb\:0\@lg {
    margin-bottom: 0 ; }
  .p\:0\@lg {
    padding-top: 0 ;
    padding-bottom: 0 ;
    padding-right: 0 ;
    padding-left: 0 ; }
  .px\:0\@lg {
    padding-right: 0 ;
    padding-left: 0 ; }
  .py\:0\@lg {
    padding-top: 0 ;
    padding-bottom: 0 ; }
  .pl\:0\@lg {
    padding-left: 0 ; }
  .pt\:0\@lg {
    padding-top: 0 ; }
  .pr\:0\@lg {
    padding-right: 0 ; }
  .pb\:0\@lg {
    padding-bottom: 0 ; }
  .m\:1\@lg {
    margin-top: 0.25em ;
    margin-bottom: 0.25em ;
    margin-right: 0.25em ;
    margin-left: 0.25em ; }
  .mx\:1\@lg {
    margin-right: 0.25em ;
    margin-left: 0.25em ; }
  .my\:1\@lg {
    margin-top: 0.25em ;
    margin-bottom: 0.25em ; }
  .ml\:1\@lg {
    margin-left: 0.25em ; }
  .mt\:1\@lg {
    margin-top: 0.25em ; }
  .mr\:1\@lg {
    margin-right: 0.25em ; }
  .mb\:1\@lg {
    margin-bottom: 0.25em ; }
  .p\:1\@lg {
    padding-top: 0.25em ;
    padding-bottom: 0.25em ;
    padding-right: 0.25em ;
    padding-left: 0.25em ; }
  .px\:1\@lg {
    padding-right: 0.25em ;
    padding-left: 0.25em ; }
  .py\:1\@lg {
    padding-top: 0.25em ;
    padding-bottom: 0.25em ; }
  .pl\:1\@lg {
    padding-left: 0.25em ; }
  .pt\:1\@lg {
    padding-top: 0.25em ; }
  .pr\:1\@lg {
    padding-right: 0.25em ; }
  .pb\:1\@lg {
    padding-bottom: 0.25em ; }
  .m\:2\@lg {
    margin-top: 0.5em ;
    margin-bottom: 0.5em ;
    margin-right: 0.5em ;
    margin-left: 0.5em ; }
  .mx\:2\@lg {
    margin-right: 0.5em ;
    margin-left: 0.5em ; }
  .my\:2\@lg {
    margin-top: 0.5em ;
    margin-bottom: 0.5em ; }
  .ml\:2\@lg {
    margin-left: 0.5em ; }
  .mt\:2\@lg {
    margin-top: 0.5em ; }
  .mr\:2\@lg {
    margin-right: 0.5em ; }
  .mb\:2\@lg {
    margin-bottom: 0.5em ; }
  .p\:2\@lg {
    padding-top: 0.5em ;
    padding-bottom: 0.5em ;
    padding-right: 0.5em ;
    padding-left: 0.5em ; }
  .px\:2\@lg {
    padding-right: 0.5em ;
    padding-left: 0.5em ; }
  .py\:2\@lg {
    padding-top: 0.5em ;
    padding-bottom: 0.5em ; }
  .pl\:2\@lg {
    padding-left: 0.5em ; }
  .pt\:2\@lg {
    padding-top: 0.5em ; }
  .pr\:2\@lg {
    padding-right: 0.5em ; }
  .pb\:2\@lg {
    padding-bottom: 0.5em ; }
  .m\:3\@lg {
    margin-top: 0.75em ;
    margin-bottom: 0.75em ;
    margin-right: 0.75em ;
    margin-left: 0.75em ; }
  .mx\:3\@lg {
    margin-right: 0.75em ;
    margin-left: 0.75em ; }
  .my\:3\@lg {
    margin-top: 0.75em ;
    margin-bottom: 0.75em ; }
  .ml\:3\@lg {
    margin-left: 0.75em ; }
  .mt\:3\@lg {
    margin-top: 0.75em ; }
  .mr\:3\@lg {
    margin-right: 0.75em ; }
  .mb\:3\@lg {
    margin-bottom: 0.75em ; }
  .p\:3\@lg {
    padding-top: 0.75em ;
    padding-bottom: 0.75em ;
    padding-right: 0.75em ;
    padding-left: 0.75em ; }
  .px\:3\@lg {
    padding-right: 0.75em ;
    padding-left: 0.75em ; }
  .py\:3\@lg {
    padding-top: 0.75em ;
    padding-bottom: 0.75em ; }
  .pl\:3\@lg {
    padding-left: 0.75em ; }
  .pt\:3\@lg {
    padding-top: 0.75em ; }
  .pr\:3\@lg {
    padding-right: 0.75em ; }
  .pb\:3\@lg {
    padding-bottom: 0.75em ; }
  .m\:4\@lg {
    margin-top: 1em ;
    margin-bottom: 1em ;
    margin-right: 1em ;
    margin-left: 1em ; }
  .mx\:4\@lg {
    margin-right: 1em ;
    margin-left: 1em ; }
  .my\:4\@lg {
    margin-top: 1em ;
    margin-bottom: 1em ; }
  .ml\:4\@lg {
    margin-left: 1em ; }
  .mt\:4\@lg {
    margin-top: 1em ; }
  .mr\:4\@lg {
    margin-right: 1em ; }
  .mb\:4\@lg {
    margin-bottom: 1em ; }
  .p\:4\@lg {
    padding-top: 1em ;
    padding-bottom: 1em ;
    padding-right: 1em ;
    padding-left: 1em ; }
  .px\:4\@lg {
    padding-right: 1em ;
    padding-left: 1em ; }
  .py\:4\@lg {
    padding-top: 1em ;
    padding-bottom: 1em ; }
  .pl\:4\@lg {
    padding-left: 1em ; }
  .pt\:4\@lg {
    padding-top: 1em ; }
  .pr\:4\@lg {
    padding-right: 1em ; }
  .pb\:4\@lg {
    padding-bottom: 1em ; }
  .m\:5\@lg {
    margin-top: 1.25em ;
    margin-bottom: 1.25em ;
    margin-right: 1.25em ;
    margin-left: 1.25em ; }
  .mx\:5\@lg {
    margin-right: 1.25em ;
    margin-left: 1.25em ; }
  .my\:5\@lg {
    margin-top: 1.25em ;
    margin-bottom: 1.25em ; }
  .ml\:5\@lg {
    margin-left: 1.25em ; }
  .mt\:5\@lg {
    margin-top: 1.25em ; }
  .mr\:5\@lg {
    margin-right: 1.25em ; }
  .mb\:5\@lg {
    margin-bottom: 1.25em ; }
  .p\:5\@lg {
    padding-top: 1.25em ;
    padding-bottom: 1.25em ;
    padding-right: 1.25em ;
    padding-left: 1.25em ; }
  .px\:5\@lg {
    padding-right: 1.25em ;
    padding-left: 1.25em ; }
  .py\:5\@lg {
    padding-top: 1.25em ;
    padding-bottom: 1.25em ; }
  .pl\:5\@lg {
    padding-left: 1.25em ; }
  .pt\:5\@lg {
    padding-top: 1.25em ; }
  .pr\:5\@lg {
    padding-right: 1.25em ; }
  .pb\:5\@lg {
    padding-bottom: 1.25em ; }
  .m\:6\@lg {
    margin-top: 1.5em ;
    margin-bottom: 1.5em ;
    margin-right: 1.5em ;
    margin-left: 1.5em ; }
  .mx\:6\@lg {
    margin-right: 1.5em ;
    margin-left: 1.5em ; }
  .my\:6\@lg {
    margin-top: 1.5em ;
    margin-bottom: 1.5em ; }
  .ml\:6\@lg {
    margin-left: 1.5em ; }
  .mt\:6\@lg {
    margin-top: 1.5em ; }
  .mr\:6\@lg {
    margin-right: 1.5em ; }
  .mb\:6\@lg {
    margin-bottom: 1.5em ; }
  .p\:6\@lg {
    padding-top: 1.5em ;
    padding-bottom: 1.5em ;
    padding-right: 1.5em ;
    padding-left: 1.5em ; }
  .px\:6\@lg {
    padding-right: 1.5em ;
    padding-left: 1.5em ; }
  .py\:6\@lg {
    padding-top: 1.5em ;
    padding-bottom: 1.5em ; }
  .pl\:6\@lg {
    padding-left: 1.5em ; }
  .pt\:6\@lg {
    padding-top: 1.5em ; }
  .pr\:6\@lg {
    padding-right: 1.5em ; }
  .pb\:6\@lg {
    padding-bottom: 1.5em ; }
  .m\:7\@lg {
    margin-top: 1.75em ;
    margin-bottom: 1.75em ;
    margin-right: 1.75em ;
    margin-left: 1.75em ; }
  .mx\:7\@lg {
    margin-right: 1.75em ;
    margin-left: 1.75em ; }
  .my\:7\@lg {
    margin-top: 1.75em ;
    margin-bottom: 1.75em ; }
  .ml\:7\@lg {
    margin-left: 1.75em ; }
  .mt\:7\@lg {
    margin-top: 1.75em ; }
  .mr\:7\@lg {
    margin-right: 1.75em ; }
  .mb\:7\@lg {
    margin-bottom: 1.75em ; }
  .p\:7\@lg {
    padding-top: 1.75em ;
    padding-bottom: 1.75em ;
    padding-right: 1.75em ;
    padding-left: 1.75em ; }
  .px\:7\@lg {
    padding-right: 1.75em ;
    padding-left: 1.75em ; }
  .py\:7\@lg {
    padding-top: 1.75em ;
    padding-bottom: 1.75em ; }
  .pl\:7\@lg {
    padding-left: 1.75em ; }
  .pt\:7\@lg {
    padding-top: 1.75em ; }
  .pr\:7\@lg {
    padding-right: 1.75em ; }
  .pb\:7\@lg {
    padding-bottom: 1.75em ; }
  .m\:8\@lg {
    margin-top: 2em ;
    margin-bottom: 2em ;
    margin-right: 2em ;
    margin-left: 2em ; }
  .mx\:8\@lg {
    margin-right: 2em ;
    margin-left: 2em ; }
  .my\:8\@lg {
    margin-top: 2em ;
    margin-bottom: 2em ; }
  .ml\:8\@lg {
    margin-left: 2em ; }
  .mt\:8\@lg {
    margin-top: 2em ; }
  .mr\:8\@lg {
    margin-right: 2em ; }
  .mb\:8\@lg {
    margin-bottom: 2em ; }
  .p\:8\@lg {
    padding-top: 2em ;
    padding-bottom: 2em ;
    padding-right: 2em ;
    padding-left: 2em ; }
  .px\:8\@lg {
    padding-right: 2em ;
    padding-left: 2em ; }
  .py\:8\@lg {
    padding-top: 2em ;
    padding-bottom: 2em ; }
  .pl\:8\@lg {
    padding-left: 2em ; }
  .pt\:8\@lg {
    padding-top: 2em ; }
  .pr\:8\@lg {
    padding-right: 2em ; }
  .pb\:8\@lg {
    padding-bottom: 2em ; } }

@media screen and (min-width: 75em) {
  .mx\:auto\@xl {
    margin-right: auto ;
    margin-left: auto ; }
  .ml\:auto\@xl {
    margin-left: auto ; }
  .mr\:auto\@xl {
    margin-right: auto ; }
  .m\:0\@xl {
    margin-top: 0 ;
    margin-bottom: 0 ;
    margin-right: 0 ;
    margin-left: 0 ; }
  .mx\:0\@xl {
    margin-right: 0 ;
    margin-left: 0 ; }
  .my\:0\@xl {
    margin-top: 0 ;
    margin-bottom: 0 ; }
  .ml\:0\@xl {
    margin-left: 0 ; }
  .mt\:0\@xl {
    margin-top: 0 ; }
  .mr\:0\@xl {
    margin-right: 0 ; }
  .mb\:0\@xl {
    margin-bottom: 0 ; }
  .p\:0\@xl {
    padding-top: 0 ;
    padding-bottom: 0 ;
    padding-right: 0 ;
    padding-left: 0 ; }
  .px\:0\@xl {
    padding-right: 0 ;
    padding-left: 0 ; }
  .py\:0\@xl {
    padding-top: 0 ;
    padding-bottom: 0 ; }
  .pl\:0\@xl {
    padding-left: 0 ; }
  .pt\:0\@xl {
    padding-top: 0 ; }
  .pr\:0\@xl {
    padding-right: 0 ; }
  .pb\:0\@xl {
    padding-bottom: 0 ; }
  .m\:1\@xl {
    margin-top: 0.25em ;
    margin-bottom: 0.25em ;
    margin-right: 0.25em ;
    margin-left: 0.25em ; }
  .mx\:1\@xl {
    margin-right: 0.25em ;
    margin-left: 0.25em ; }
  .my\:1\@xl {
    margin-top: 0.25em ;
    margin-bottom: 0.25em ; }
  .ml\:1\@xl {
    margin-left: 0.25em ; }
  .mt\:1\@xl {
    margin-top: 0.25em ; }
  .mr\:1\@xl {
    margin-right: 0.25em ; }
  .mb\:1\@xl {
    margin-bottom: 0.25em ; }
  .p\:1\@xl {
    padding-top: 0.25em ;
    padding-bottom: 0.25em ;
    padding-right: 0.25em ;
    padding-left: 0.25em ; }
  .px\:1\@xl {
    padding-right: 0.25em ;
    padding-left: 0.25em ; }
  .py\:1\@xl {
    padding-top: 0.25em ;
    padding-bottom: 0.25em ; }
  .pl\:1\@xl {
    padding-left: 0.25em ; }
  .pt\:1\@xl {
    padding-top: 0.25em ; }
  .pr\:1\@xl {
    padding-right: 0.25em ; }
  .pb\:1\@xl {
    padding-bottom: 0.25em ; }
  .m\:2\@xl {
    margin-top: 0.5em ;
    margin-bottom: 0.5em ;
    margin-right: 0.5em ;
    margin-left: 0.5em ; }
  .mx\:2\@xl {
    margin-right: 0.5em ;
    margin-left: 0.5em ; }
  .my\:2\@xl {
    margin-top: 0.5em ;
    margin-bottom: 0.5em ; }
  .ml\:2\@xl {
    margin-left: 0.5em ; }
  .mt\:2\@xl {
    margin-top: 0.5em ; }
  .mr\:2\@xl {
    margin-right: 0.5em ; }
  .mb\:2\@xl {
    margin-bottom: 0.5em ; }
  .p\:2\@xl {
    padding-top: 0.5em ;
    padding-bottom: 0.5em ;
    padding-right: 0.5em ;
    padding-left: 0.5em ; }
  .px\:2\@xl {
    padding-right: 0.5em ;
    padding-left: 0.5em ; }
  .py\:2\@xl {
    padding-top: 0.5em ;
    padding-bottom: 0.5em ; }
  .pl\:2\@xl {
    padding-left: 0.5em ; }
  .pt\:2\@xl {
    padding-top: 0.5em ; }
  .pr\:2\@xl {
    padding-right: 0.5em ; }
  .pb\:2\@xl {
    padding-bottom: 0.5em ; }
  .m\:3\@xl {
    margin-top: 0.75em ;
    margin-bottom: 0.75em ;
    margin-right: 0.75em ;
    margin-left: 0.75em ; }
  .mx\:3\@xl {
    margin-right: 0.75em ;
    margin-left: 0.75em ; }
  .my\:3\@xl {
    margin-top: 0.75em ;
    margin-bottom: 0.75em ; }
  .ml\:3\@xl {
    margin-left: 0.75em ; }
  .mt\:3\@xl {
    margin-top: 0.75em ; }
  .mr\:3\@xl {
    margin-right: 0.75em ; }
  .mb\:3\@xl {
    margin-bottom: 0.75em ; }
  .p\:3\@xl {
    padding-top: 0.75em ;
    padding-bottom: 0.75em ;
    padding-right: 0.75em ;
    padding-left: 0.75em ; }
  .px\:3\@xl {
    padding-right: 0.75em ;
    padding-left: 0.75em ; }
  .py\:3\@xl {
    padding-top: 0.75em ;
    padding-bottom: 0.75em ; }
  .pl\:3\@xl {
    padding-left: 0.75em ; }
  .pt\:3\@xl {
    padding-top: 0.75em ; }
  .pr\:3\@xl {
    padding-right: 0.75em ; }
  .pb\:3\@xl {
    padding-bottom: 0.75em ; }
  .m\:4\@xl {
    margin-top: 1em ;
    margin-bottom: 1em ;
    margin-right: 1em ;
    margin-left: 1em ; }
  .mx\:4\@xl {
    margin-right: 1em ;
    margin-left: 1em ; }
  .my\:4\@xl {
    margin-top: 1em ;
    margin-bottom: 1em ; }
  .ml\:4\@xl {
    margin-left: 1em ; }
  .mt\:4\@xl {
    margin-top: 1em ; }
  .mr\:4\@xl {
    margin-right: 1em ; }
  .mb\:4\@xl {
    margin-bottom: 1em ; }
  .p\:4\@xl {
    padding-top: 1em ;
    padding-bottom: 1em ;
    padding-right: 1em ;
    padding-left: 1em ; }
  .px\:4\@xl {
    padding-right: 1em ;
    padding-left: 1em ; }
  .py\:4\@xl {
    padding-top: 1em ;
    padding-bottom: 1em ; }
  .pl\:4\@xl {
    padding-left: 1em ; }
  .pt\:4\@xl {
    padding-top: 1em ; }
  .pr\:4\@xl {
    padding-right: 1em ; }
  .pb\:4\@xl {
    padding-bottom: 1em ; }
  .m\:5\@xl {
    margin-top: 1.25em ;
    margin-bottom: 1.25em ;
    margin-right: 1.25em ;
    margin-left: 1.25em ; }
  .mx\:5\@xl {
    margin-right: 1.25em ;
    margin-left: 1.25em ; }
  .my\:5\@xl {
    margin-top: 1.25em ;
    margin-bottom: 1.25em ; }
  .ml\:5\@xl {
    margin-left: 1.25em ; }
  .mt\:5\@xl {
    margin-top: 1.25em ; }
  .mr\:5\@xl {
    margin-right: 1.25em ; }
  .mb\:5\@xl {
    margin-bottom: 1.25em ; }
  .p\:5\@xl {
    padding-top: 1.25em ;
    padding-bottom: 1.25em ;
    padding-right: 1.25em ;
    padding-left: 1.25em ; }
  .px\:5\@xl {
    padding-right: 1.25em ;
    padding-left: 1.25em ; }
  .py\:5\@xl {
    padding-top: 1.25em ;
    padding-bottom: 1.25em ; }
  .pl\:5\@xl {
    padding-left: 1.25em ; }
  .pt\:5\@xl {
    padding-top: 1.25em ; }
  .pr\:5\@xl {
    padding-right: 1.25em ; }
  .pb\:5\@xl {
    padding-bottom: 1.25em ; }
  .m\:6\@xl {
    margin-top: 1.5em ;
    margin-bottom: 1.5em ;
    margin-right: 1.5em ;
    margin-left: 1.5em ; }
  .mx\:6\@xl {
    margin-right: 1.5em ;
    margin-left: 1.5em ; }
  .my\:6\@xl {
    margin-top: 1.5em ;
    margin-bottom: 1.5em ; }
  .ml\:6\@xl {
    margin-left: 1.5em ; }
  .mt\:6\@xl {
    margin-top: 1.5em ; }
  .mr\:6\@xl {
    margin-right: 1.5em ; }
  .mb\:6\@xl {
    margin-bottom: 1.5em ; }
  .p\:6\@xl {
    padding-top: 1.5em ;
    padding-bottom: 1.5em ;
    padding-right: 1.5em ;
    padding-left: 1.5em ; }
  .px\:6\@xl {
    padding-right: 1.5em ;
    padding-left: 1.5em ; }
  .py\:6\@xl {
    padding-top: 1.5em ;
    padding-bottom: 1.5em ; }
  .pl\:6\@xl {
    padding-left: 1.5em ; }
  .pt\:6\@xl {
    padding-top: 1.5em ; }
  .pr\:6\@xl {
    padding-right: 1.5em ; }
  .pb\:6\@xl {
    padding-bottom: 1.5em ; }
  .m\:7\@xl {
    margin-top: 1.75em ;
    margin-bottom: 1.75em ;
    margin-right: 1.75em ;
    margin-left: 1.75em ; }
  .mx\:7\@xl {
    margin-right: 1.75em ;
    margin-left: 1.75em ; }
  .my\:7\@xl {
    margin-top: 1.75em ;
    margin-bottom: 1.75em ; }
  .ml\:7\@xl {
    margin-left: 1.75em ; }
  .mt\:7\@xl {
    margin-top: 1.75em ; }
  .mr\:7\@xl {
    margin-right: 1.75em ; }
  .mb\:7\@xl {
    margin-bottom: 1.75em ; }
  .p\:7\@xl {
    padding-top: 1.75em ;
    padding-bottom: 1.75em ;
    padding-right: 1.75em ;
    padding-left: 1.75em ; }
  .px\:7\@xl {
    padding-right: 1.75em ;
    padding-left: 1.75em ; }
  .py\:7\@xl {
    padding-top: 1.75em ;
    padding-bottom: 1.75em ; }
  .pl\:7\@xl {
    padding-left: 1.75em ; }
  .pt\:7\@xl {
    padding-top: 1.75em ; }
  .pr\:7\@xl {
    padding-right: 1.75em ; }
  .pb\:7\@xl {
    padding-bottom: 1.75em ; }
  .m\:8\@xl {
    margin-top: 2em ;
    margin-bottom: 2em ;
    margin-right: 2em ;
    margin-left: 2em ; }
  .mx\:8\@xl {
    margin-right: 2em ;
    margin-left: 2em ; }
  .my\:8\@xl {
    margin-top: 2em ;
    margin-bottom: 2em ; }
  .ml\:8\@xl {
    margin-left: 2em ; }
  .mt\:8\@xl {
    margin-top: 2em ; }
  .mr\:8\@xl {
    margin-right: 2em ; }
  .mb\:8\@xl {
    margin-bottom: 2em ; }
  .p\:8\@xl {
    padding-top: 2em ;
    padding-bottom: 2em ;
    padding-right: 2em ;
    padding-left: 2em ; }
  .px\:8\@xl {
    padding-right: 2em ;
    padding-left: 2em ; }
  .py\:8\@xl {
    padding-top: 2em ;
    padding-bottom: 2em ; }
  .pl\:8\@xl {
    padding-left: 2em ; }
  .pt\:8\@xl {
    padding-top: 2em ; }
  .pr\:8\@xl {
    padding-right: 2em ; }
  .pb\:8\@xl {
    padding-bottom: 2em ; } }

h1,
.buf-h1, h2,
.buf-h2, h3,
.buf-h3, h4,
.buf-h4, h5,
.buf-h5, h6,
.buf-h6 {
  font-weight: 400;
  font-family: "Open Sans", sans-serif; }

h1,
.buf-h1 {
  font-size: 2.4375rem;
  line-height: 3rem; }

h2,
.buf-h2 {
  font-size: 1.75rem;
  line-height: 2.5rem; }

h3,
.buf-h3 {
  font-size: 1.5rem;
  line-height: 2rem; }

h4,
.buf-h4 {
  font-size: 1.125rem;
  line-height: 1.75rem; }

h5,
.buf-h5 {
  font-size: 1rem;
  line-height: 1.5rem; }

h6,
.buf-h6 {
  font-size: 0.875rem;
  line-height: 1.25rem; }

.buf-text-start {
  text-align: left;
  text-align: start; }

.buf-text-end {
  text-align: right;
  text-align: end; }

.buf-text-left {
  text-align: left; }

.buf-text-right {
  text-align: right; }

.buf-text-center {
  text-align: center; }

.buf-text-justify {
  text-align: justify; }

.buf-text-justify-all {
  text-align: justify-all; }

.buf-text-match-parent {
  text-align: match-parent; }

/*# sourceMappingURL=buf-core.css.map */
